@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Poppins&display=swap');
*{
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}
  body {
    background-image: url("./components/images/services-bg.png");
    background-size: cover;
    overflow-x: hidden;
    width: 100%;
    height: auto;
    background-attachment: fixed;
  }
.nav-div {
  background-color: #252525;
  height: 5.5rem;
}
.link{
  color: #FFFFFF;
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 480;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
.logo {
  margin-left: 1rem;
}
.link:hover {
  color: rgb(30, 220, 30); 
  font-weight: 600; 
  transition: all 0.3s ease-in-out;
}
.nav-item {
  overflow-y : hidden;
}
.activ{
  color: #F76D37; 
  font-size: 1.3rem;
  font-weight: 600;
  text-decoration: underline;
  padding: 0.8rem 0;
}
.inactive {
  color: #FFFFFF;
}
.active:hover{
  color: #F76D37; 
  font-weight: 650; 
}
.toggle-navbar {
  display: none;
}
/* home */

.home-img {
  height: 36.625rem;
  position: relative;
}
.home-text {
  position: absolute;
  z-index: 1;
  width: 35%;
  top: 17%;
  left: 14%;
  overflow: hidden;
}
.black-para {
  font-size: 3.75rem;
  font-weight: 450;
}
.white-para {
  font-size: 4.375rem;
  font-weight: 700;
  color: #FFFFFF;
  display: block;
}
.home-desc {
  font-size: 1.2rem;
  color: #FFFFFF;
}
.home-btn {
  color: #FFFFFF;
  background-color: #252525;
  padding: 0.9rem 2.2rem;
  border: none;
  margin-top: 1.8rem;
}
.show-less {
  display: none;
}
.carousel-btn {
  position: absolute;
  left: 46%;
  top: 86%;
  font-size: 1.5rem;
}
.slide-btn.active-btn {
  background-color: #F76D37;
  color: #FFFFFF;
  border: none;
}
.carousel-btn i {
  background-color: #FFFFFF;
  margin-left: 1rem;
  padding: 0.6rem 1.1rem;
  font-weight: 520;
  font-size: 1;
  border: none;
}
.carousel-btn i:hover {
   background-color: #F76D37;
   color: #FFFFFF;
   transition: all 0.3s ease-in-out;
}
/* about */

.about-text {
  color: #F76D37;
  font-weight: 650;
}
.about-bg {
  background-color: #FFFFFF;
  padding: 6rem 0 3rem 0;
}
.my-description{
  font-size: 1.1rem;
  color: #252525;
  opacity: 0.7;
}
.abt-btn {
  font-size: 1.2rem;
}
.left-margin {
  margin-left: 5rem;
}
.right-margin {
  margin-right: 5rem;
}

/* gallery */

.gallery-div {
  background-color: #FFFFFF;
  color: #F76D37;
  padding-bottom: 6rem;
}
.gallary {
  text-align: center;
}
.port-btn {
  background-color: rgba(67,54,106);
  color: #FFFFFF;
  font-size: 1.1rem;
  border: none;
  margin-top: 1rem;
  padding: 0.5rem 1.2rem;
  border-radius: 0.5rem;
}
.img-div {
  height: 18.75rem;
  width: 21.875rem;
  margin-bottom: 5rem;
  margin-left: 2.5rem;
}
.img-gallery {
  height: 100%;
  width: 100%;
}
.gallery-desc {
  display: block;
  color: #262525;
  text-align: center;
  opacity: 0.8;
  font-size: 1.3rem;
  margin: 1.5rem 0 3rem 0;
}
.button-inline {
  display: inline-block;
}

/* service */

.service-div {
  height: 40rem;
}
.service-text {
  margin-top: 6rem;
}
.service-desc {
  font-size: 1.3rem;
  font-weight: 450;
  color: #FFFFFF;
}
.service-heading {
  font-weight: 700;
  color: #FFFFFF;
}
.service-card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
  margin-top: 7rem;
}
.single-card {
  background-color: #F76D37;
  color: #FFFFFF;
  text-align: center;
  width: 22rem;
  height: 15.475rem;
  padding: 2.5rem 0;
  overflow-y: hidden;
}
.show-full {
  height: auto;
  /* height: 20.575rem; */
  background-color: #FFFFFF;
  color: #252525;
  transition: color, background-color, 0.3s ease-in-out;
}
.show-less {
  display: none;
}
.single-img {
  height: 3.125rem;
}
.single-heading {
  margin: 1.5rem 0 0.75rem 0;
}

/* contact */

.contact-text{
  margin-left: 1.5rem;
  font-size: 1.2rem;
}
.contact-heading{
  margin-bottom: 5rem;
  color: #F76D37;
  font-weight: 750;
}
.contact-icon{
  font-size: 1.35rem;
}
.input-div{
  width: 36rem;
  height: 3.6rem;
  background-color:#FFFFFF;
  border-radius: 3rem;
  border: none;
  outline: none;
  padding-left: 1.5rem;
  caret-color: #252525;
  color: #252525;
  font-size: 1.3rem;
}
::placeholder{
  color: #252525;
  opacity: 0.7;
}
.input-msg{
  height: 9rem;
  border-radius: 3rem;
}
.contact-btn{
  background-color: #D33A11;
  color: #FFFFFF;
  width: 10rem;
  margin-left: auto;
  font-size: 1.1rem;
  font-weight: 500;
  padding: 0.75rem 2rem;
  border-radius: 2rem;
  border: none;
}
.outer-element {
  position: absolute;
  z-index: 1;
  top: 8%;
  left: 10.5%;
}
.contact-div {
  background-color: #FFFFFF;
  padding: 5rem 0 0.5rem 0;
}
.contact-img {
  width: 100%;
  height: 31.5rem;
}

/* footer1 */

.footer-container{
  background-color: #252525;
  color:white;
  padding-top: 5rem;
  border-bottom: 1px solid white;
}
.footer-div {
  display: flex;
  justify-content: space-around;
}
.footer-menu-text {
  width: 16.65rem;
  opacity: 0.85;
  margin-top: 1.8rem;
}
.margin-list {
  margin-top: 1.8rem;
}
.footer-icon{
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
  color:white;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  margin-top: 0.6rem;
}
.footer-border{
  padding-bottom: 2rem;
}
.footer-list {
  list-style-type: none;
  margin-top: 0.5rem;
}
.foot-link {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 1rem;
  font-weight: 480;
}
.social-media {
  color: #FFFFFF;
  font-size: 1rem;
  margin-top: 0.5rem;
  margin-left: 1rem;
}
.footer-icon-2 {
  border: none;
  font-size: 1.3rem;
}
.footer-icon{
  opacity: 0.85;
}
.foot-link {
  font-size: 0.95rem;
  opacity: 0.85;
}
.social-media {
  font-size: 0.95rem;
  opacity: 0.85;
}
.footer-mergin {
  font-weight: 700;
}
.footer-about {
  font-weight: 700;
}
.footer-menu {
  font-weight: 700;
}

/* footer2 */

.footer-2 {
  background-color: #FFFFFF;
  padding: 0.75rem 0;
  color: #252525;
  font-size: 1.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* testimonial */

.testimonial-div {
  background-color: #FFFFFF;
  padding: 5.5rem 0 3.5rem 0;
  height: 30.625rem;
  height: auto;
}
.testimoni-heading {
  color: #F76D37;
  font-weight: 750;
}
.testimoni-text {
  margin-left: 12rem;
  color: #252525;
}
.testimoni-desc {
  font-size: 1.1rem;
  opacity: 0.75;
}
.review-div {
  position: absolute;
  z-index: 2;
  margin-left: 12.5rem;
  margin-top: 3rem;
  height: 10.25rem;
  width: 70%;
}
.user-review {
  padding: 0 2rem;
}
.review-inner {
  display: flex;
  margin-left: 9rem;
  align-items: center;
  color: #F76D37;
}
.review-inner img {
  height: 1.19rem;
  margin-left: 1.8rem;
}
.review {
  color: #252525;
  font-size: 1.2rem;
  opacity: 0.75;
}
.margin {
  position: absolute;
  z-index: 1;
  height: 9rem;
  width: 7rem;
  margin-top: 1.1rem;
  left: 0rem;
  border-top: 3px solid black;
  border-left: 3px solid black;
}
.review-margin {
  position: absolute;
  z-index: 1;
  height: 9rem;
  width: 7rem;
  right: 0rem;
  margin-top: 1.1rem;
  border-bottom: 3px solid black;
  border-right: 3px solid black;
}
.testimoni-button-1 {
  height: 1.05rem;
  width: 3.5rem;
  border-radius: 1.2rem;
  background-color: #252525;
  margin-top: 18rem;
  margin-left: 42.5rem;
}
.testimoni-button-1:hover,
.testimoni-button-2:hover{
  background-color: #F76D37;
}
.testimoni-button-2 {
  height: 1.05rem;
  width: 3.5rem;
  border-radius: 1.2rem;
  background-color: #252525;
  margin-top: 18rem;
  margin-left: 1rem;
}
h1 {
  font-weight: 900;
  font-size: 2.5rem;
}

/* error */
.error-div {
  height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Mobile responsive */

@media ( max-width : 767px) {
  * {
    overflow-x: hidden;
  }
  /* body */
  
  body {
    background-size: contain;
    background-attachment: fixed;
  }
  
  /* Navbar */
  nav {
    overflow: hidden;
  }
  .nav-logo {
    overflow-y: hidden;
    height: 5rem;
    display: flex;
    align-items: center;
  }
  .logo {
    width: 11.2625rem;
    height: 1.30rem;
    margin-left: 0.25rem;
  }
  .nav-div {
    background-color: #252525;
    height: 5rem;
    transition: height 0.4s ease-in-out; 
  }
  .expand-div {
    background-color: #252525;
    height: 23.3875rem; 
    transition: height 0.4s ease-in-out;
  }
  .toggle-navbar {
    display: block;
    display: flex;
    align-items: center;
    color: #252525;
    font-size: 1.5rem;
    background-color: #FFFFFF;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    border: none;
    outline: none;
    margin-right: 0.25rem;
  }
  .toggle-navbar i {
    opacity: 0.5;
  }
  .navbar-nav {
    width: 100%;
    height: auto;
    height: 18.3125;
    display: flex;
    justify-content: center;
    justify-content: end;
    align-items: center;
    margin-top: 0.5rem;
  }
  .link {
    font-size: 1.125rem;
    opacity: 0.95;
  }
  .nav-item {
    margin-bottom: 1.2rem;
  }

  /* home */

  .home-div {
    height: 30rem;
    height: 25rem;
    height: 60vh;
    width: 100%;
  }
  .home-img {
    height: 100%;
  }
  .home-text {
    left: 5%;
    width: 90%;
    top: 5%;
  }
  .black-para {
    font-size: 1.75rem;
    font-weight: 450;
  }
  .white-para {
    font-size: 2.375rem;
    font-weight: 700;
  }
  .home-desc {
    font-size: 0.9rem;
    overflow-wrap: break-word;
  }
  .hide-mobile {
    display: none;
  }
  .home-btn {
    margin-top: 1rem;
    font-size: 0.8rem;
  }
  .carousel-btn {
    left: 32%;
    top: 25rem;
    top: 82%;
    font-size: 1.3rem;
  }
  
  /* about */

  .about-text {
    color: #F76D37;
    font-weight: 800;
    font-size : 2rem;
    margin-bottom: 1.5rem;
  }
  .my-description{
    font-size: 0.95rem;
    color: #252525;
    opacity: 0.8;
  }
  .abt-btn {
    margin-bottom: 1rem;
  }
  .left-margin {
    margin-left: 0.7rem;
  }
  .right-margin {
    padding-right: 0.5rem;
    padding-left: 0.7rem;
    height: 100%;
    width: 100%;
  }
  
  /* gallery */

.gallery-div {
  padding-bottom: 5rem;
}
.img-div {
  height: 18.75rem;
  width: 100%;
  margin-bottom: 2rem;
  margin-left: 0;
  padding-right: 0rem;
}
.img-gallery {
  height: 100%;
  width: 100%;
}
.gallery-desc {
  display: block;
  color: #262525;
  font-size: 0.95rem;
  padding: 1.5rem 0 0rem 0rem;
}
.gallary {
  font-weight: 800;
  font-size: 2rem;
}
.button-inline {
  display: inline-block;
}

  /* service */
  .service-div {
    height: auto;
    width: 100%;
  }
  .service-text {
    position: absolute;
    z-index: 1;
    top : -5%;
    text-align: center;
    padding-left: 0rem;
    padding-right: 0;
    margin-left: 0rem;
    width: 100%;
  }
  .service-desc {
    font-size: 1.05rem;
    font-weight: 570;
  }
  .service-heading {
    font-weight: 800;
    font-size: 2rem;
    color: #F76D37;
  }
  .service-card {
    flex-direction: column;
    align-items: center;
    margin-top: 10.5rem;
    padding-bottom: 2rem;
  }
    .single-card {
      background-color: #F76D37;
      color: #FFFFFF;
      text-align: center;
      width: 88%;
      padding: 2.5rem 0;
    }
  .single-img {
    height: 3.125rem;
  }
  .single-heading {
    margin: 2rem 0 0.75rem 0;
  }
  .service-btn {
    margin-top: 2.4rem;
  }

  /* testimonial */

.testimonial-div {
  padding: 3.5rem 0 2.5rem 0;
  height: auto;
}
.testimoni-heading {
  font-weight: 900;
}
.big-heading {
  font-size: 2.3rem;
}
.testimoni-text {
  margin-left: 2rem;
  color: #252525;
  padding-top: 1rem;
}
.testimoni-desc {
  font-size: 1rem;
  padding-right: 2rem;
}
.review-div {
  position: absolute;
  z-index: 2;
  margin-left: 2rem;
  margin-top: 3rem;
  width: 91vw;
  padding-right: 2rem;
  height: 13.25rem;
  height: auto;
  overflow-wrap: break-word;
}
.user-review {
  padding: 0 0rem;
}
.review-inner {
  display: flex;
  margin-left: 0rem;
  align-items: center;
  color: #F76D37;
}
.review-inner img {
  height: 1.19rem;
  margin-left: 1.8rem;
}
.review {
  color: #252525;
  font-size: 0.9rem;
}
.margin {
  display: none;
}
.review-margin {
  display: none;
}
.testimoni-button {
  justify-content: center;
}
.testimoni-button-1 {
  margin-top: 21rem;
  margin-left: 0rem;
  padding-bottom: 1rem;
}
.testimoni-button-2 {
  margin-top: 21rem;
  padding-bottom: 1rem;
}

/* contact */

.contact-heading{
  margin-bottom: 5rem;
  font-weight: 900;
  font-size: 2.2rem;
}
.input-div{
  width: 85vw;
  height: 3.6rem;
}
.outer-element {
  position: absolute;
  z-index: 1;
  top: 18%;
  left: 7%;
}
.contact-div {
  padding: 5rem 0 0.5rem 0;
}
.contact-img {
  width: 100%;
  height: 31.5rem;
}

/* footer1 */

.footer-div {
  flex-direction: column;
}
.footer-menu-text {
  width: 100%;
  font-size: 0.88rem;
}
.footer-border{
  padding-bottom: 2rem;
}
.foot-link {
  font-size: 0.88rem;
}
.footer-mergin {
  margin-top: 2rem;
}
.footer-menu {
  margin-top: 1rem;
}
.social-media {
  font-size: 0.88rem;
  margin-top: 0.7rem;
}
.footer-icon-2 {
  border: none;
  font-size: 1.3rem;
}

/* footer2 */
.footer-2 {
  padding: 1rem;
  font-size: 0.97rem;
}
}

/* responsive for tablet */
  @media (min-width: 767px) and (max-width: 991px) {
  * {
    overflow-x: hidden;
  }
  body {
    height: auto;
    overflow-x: hidden;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
  
  /* Navbar */
  nav {
    overflow: hidden;
  }
  .logo {
    margin-left: 0.25rem;
  }
  .nav-div {
    background-color: #252525;
    height: 5rem;
    transition: height 0.4s ease-in-out; 
  }
  .expand-div {
    background-color: #252525;
    height: 20.3875rem;
    transition: height 0.4s ease-in-out;
  }
  .toggle-navbar {
    display: flex;
    align-items: center;
    color: #252525;
    font-size: 1.5rem;
    background-color: #FFFFFF;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    border: none;
    outline: none;
    margin-right: 0.25rem;
  }
  .toggle-navbar i {
    opacity: 0.5;
  }
  .navbar-nav {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.9rem;
  }
  .link {
    font-size: 1.125rem;
    opacity: 0.95;
  }
  .nav-item {
    margin-bottom: 1.2rem;
  }

  /* home */

  .home-div {
    height: 30rem;
    width: 100%;
  }
  .home-img {
    height: 100%;
  }
  .home-text {
    left: 5%;
    width: 47%;
  }
  .black-para {
    font-size: 2.5rem;
    font-weight: 450;
  }
  .white-para {
    font-size: 3.2rem;
    font-weight: 700;
  }
  .home-desc {
    font-size: 1.05rem;
    overflow-wrap: break-word;
  }
  .hide-mobile {
    display: none;
  }
  .home-btn {
    margin-top: 1rem;
    font-size: 0.8rem;
  }
  .carousel-btn {
    left: 40%;
    top: 25rem;
    font-size: 1.3rem;
  }

  /* about */

.my-description{
  font-size: 1rem;
  opacity: 0.6;
}
.abt-btn {
  font-size: 1rem;
}
.left-margin {
  margin-left: 0rem;
}
.right-margin {
  margin-right: 0rem;
}

/* gallery */

.gallery-div {
  padding-bottom: 5rem;
}
.gallary {
  text-align: center;
  font-weight: 750;
}
.img-div {
  height: 15rem;
  width: 100%;
  margin-bottom: 1.5rem;
  margin-left: 0rem;
}
.img-gallery {
  height: 100%;
  width: 100%;
}
.gallery-desc {
  font-size: 1.05rem;
  opacity: 0.8;
  margin: 1rem 0 2rem 0;
}
.gallery-btn {
  font-size: 1rem;
}

/* service */

.service-div {
  height: 40rem;
}
.service-text {
  margin-top: 4.5rem;
  text-align: center;
}
.service-desc {
  font-size: 1.1rem;
}
.single-heading {
  font-size: 1.4rem;
  margin-top: 1rem;
  font-weight: 400;
}
.service-card {
  gap: 1.5rem;
  margin-top: 4.5rem;
}
.single-card {
  width: 15rem;
  padding: 2.5rem 0.4rem;
}
.single-desc {
  font-size: 0.95rem;
}
.single-img {
  height: 3rem;
}

/* testimonial */

.testimonial-div {
  padding: 5.5rem 0 2rem 0;
  height: 32.625rem;
  overflow-x: visible;
}
.testimoni-heading {
  font-weight: 900;
}
.testimoni-text {
  margin-left: 5rem;
}
.testimoni-desc {
  font-size: 1.05rem;
}
.review-div {
  position: absolute;
  z-index: 2;
  margin-left: 5rem;
  margin-top: 3rem;
  height: 15.25rem;
  width: 79%;
}
.user-review {
  padding: 0 2rem;
}
.review-inner {
  display: flex;
  margin-left: 7rem;
  align-items: center;
}
.review-inner img {
  height: 1.3rem;
  margin-left: 1.8rem;
}
.review {
  font-size: 1rem;
  opacity: 0.8;
}
.margin {
  position: absolute;
  z-index: 1;
  height: 8.5rem;
  width: 5rem;
  margin-top: 1.1rem;
  left: 0;
  border-top: 3px solid black;
  border-left: 3px solid black;
}
.review-margin {
  position: absolute;
  z-index: 1;
  height: 8.5rem;
  width: 5rem;
  right: 0rem;
  margin-top: 1.1rem;
  border-bottom: 3px solid black;
  border-right: 3px solid black;
}
.testimoni-button {
  justify-content: center;
}
.testimoni-button-1 {
  margin-top: 19rem;
  margin-left: 0rem;
}
.testimoni-button-2 {
  margin-top: 19rem;
}

/* contact */

.contact-heading{
  margin-bottom: 5rem;
  font-weight: 900;
  font-size: 2.2rem;
}
.input-div{
  width: 44vw;
  height: 3.6rem;
}
.input-msg {
  height: 8.5rem;
}
.outer-element {
  position: absolute;
  z-index: 1;
  top: 11%;
  left: 6%;
}
.contact-div {
  padding: 5rem 0 0.5rem 0;
}
.contact-img {
  width: 100%;
  height: 31.5rem;
}

/* footer1 */

.footer-div {
  flex-wrap: wrap;
}
.footer-div div {
  flex: 1 0 50%; 
  box-sizing: border-box;
}
.margin-tab {
  margin-top: 1.5rem;
}
.footer-menu-text {
  margin-top: 1.1rem;
  font-size: 0.9rem;
  opacity: 0.85;
}
.footer-mergin {
  overflow-y: hidden;
  font-weight: 700;
}
.footer-about {
  overflow-y: hidden;
  font-weight: 700;
}
.footer-menu {
  overflow-y: hidden;
  font-weight: 700;
}
.footer-list {
  margin-top: 0.5rem;
  overflow-y: hidden;
}
.foot-link {
  font-size: 0.9rem;
  opacity: 0.85;
}
.social-media {
  font-size: 0.9rem;
  margin-top: 0.5rem;
  opacity: 0.85;
}
}

/* very small screen */
@media (max-width: 338px) {
  .footer-persional-info {
    display: block;
  }
  .very-small {
    align-items: center;
  }
}

/* responsive for bigger screen */

@media (min-width: 991px) and (max-width: 1400px) {
  * {
    overflow-x: hidden;
  }
   body {
    overflow-x: hidden;
    background-position: center;
    background-attachment: fixed;
   }

  /* home */

  .home-div {
    height: 32rem;
    width: 100%;
  }
  .home-img {
    height: 100%;
  }
  .home-text {
    left: 5%;
    width: 47%;
  }
  .black-para {
    font-size: 3rem;
    font-weight: 550;
  }
  .white-para {
    font-size: 3.5rem;
    font-weight: 700;
  }
  .home-desc {
    font-size: 1.1rem;
    overflow-wrap: break-word;
  }
  .home-btn {
    margin-top: 1rem;
    font-size: 1rem;
  }
  .carousel-btn {
    left: 45%;
    top: 27rem;
    font-size: 1.3rem;
  }

  /* about */

  .my-description{
    opacity: 0.6;
  }
  .left-margin {
    margin-left: 0rem;
  }
  .right-margin {
    margin-right: 0rem;
  }

  /* gallery */

.gallary {
  text-align: center;
  font-weight: 750;
}
.img-div {
  width: 100%;
  margin-left: 0rem;
  margin-bottom: 3rem;
}
.img-gallery {
  height: 100%;
  width: 92%;
}
.gallery-desc {
  opacity: 0.8;
}

/* service */

.service-div {
  height: 40rem;
}
.service-text {
  margin-top: 4.5rem;
  text-align: center;
}
.service-desc {
  font-size: 1.1rem;
}
.single-heading {
  font-size: 1.4rem;
  margin-top: 1rem;
  font-weight: 400;
  overflow-y: hidden;
}
.service-card {
  gap: 1.5rem;
  margin-top: 4.5rem;
}
.single-card {
  width: 18rem;
  padding: 2.5rem 0.6rem;
}
.single-desc {
  font-size: 0.95rem;
}
.single-img {
  height: 3rem;
}

/* testimonial */

.testimonial-div {
  height: 32.625rem;
}
.testimoni-heading {
  font-weight: 900;
}
.testimoni-text {
  margin-left: 5rem;
}
.testimoni-desc {
  font-size: 1.05rem;
}
.review-div {
  position: absolute;
  z-index: 2;
  margin-left: 7rem;
  margin-top: 3rem;
  height: 15.25rem;
  width: 79%;
}
.user-review {
  padding: 0 2rem;
}
.review-inner {
  display: flex;
  margin-left: 7rem;
  align-items: center;
}
.review-inner img {
  height: 1.19rem;
  margin-left: 1.8rem;
}
.review {
  font-size: 1rem;
  opacity: 0.8;
}
.margin {
  height: 8rem;
  width: 5rem;
  left: 0;
}
.review-margin {
  height: 8rem;
  width: 5rem;
  right: 0;
}
.testimoni-button {
  justify-content: center;
}
.testimoni-button-1 {
  margin-top: 19rem;
  margin-left: 0rem;
}
.testimoni-button-2 {
  margin-top: 19rem;
}

/* contact */

.contact-heading{
  margin-bottom: 5rem;
  font-weight: 900;
  font-size: 2.2rem;
}
.input-div{
  width: 44vw;
  height: 3.6rem;
}
.input-msg {
  height: 8.5rem;
}
.outer-element {
  position: absolute;
  z-index: 1;
  top: 11%;
  left: 6%;
}
.contact-div {
  padding: 5rem 0 0.5rem 0;
}
.contact-img {
  width: 100%;
  height: 31.5rem;
}

/* footer1 */

.footer-div {
  justify-content: center;
  gap: 3rem;
}
.footer-menu-text {
  width: 10.65rem;
  height: auto;
  font-size: 0.95rem;
  margin-top: 2.15rem;
  opacity: 0.85;
}
.footer-icon{
  opacity: 0.85;
}
.foot-link {
  font-size: 0.95rem;
  opacity: 0.85;
}
.social-media {
  font-size: 0.95rem;
  opacity: 0.85;
}
.footer-mergin {
  overflow-y: hidden;
  font-weight: 700;
}
.footer-about {
  overflow-y: hidden;
  font-weight: 700;
}
.footer-menu {
  overflow-y: hidden;
  font-weight: 700;
}
.footer-list {
  margin-top: 0.46rem;
  overflow-y: hidden;
}
}

